.gallery__container {
    background-color: $white-color;
}

.gallery__subtitle {
    margin-bottom: 44px;
}

/* .gallery__subtitle::before {
    position: absolute;
    left: 1px;
    top: 7px;
    content: '';
    width: 60px;
    height: 1px;
    background-color: $dark-color;
} */

.gallery__list {
    display: flex;
    gap: 30px;
}