.header {
    position: absolute;
    width: 100%;
}

.header__navigation {
    flex-grow: 1;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $hero-background-color;
}

.header__container,
.nav__list {
    display: flex;
}

.header__link {
    display: block;
    width: 100px;
    align-self: flex-end;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: $white-color;
}

.nav__link:hover,
.nav__link:focus {
    color: $accent-color;
}

.header__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $white-color;
}

.header__button {
    margin-left: 40px;
    color: $white-color;
    background-color: $footer-background-color;
}