.hero__container {
  display: flex;
  background-color: $white-color;
  height: 680px;
}

.hero__social {
  position: relative;
  display: flex;
  gap: 90px;
  flex-direction: column-reverse;
  justify-content: end;

  width: 100px;
  padding-bottom: 160px;
  padding-top: 280px;
}

.hero__social::before {
  position: absolute;
  left: 1px;
  bottom: 70px;
  content: '';
  width: 60px;
  height: 1px;
  transform: rotate(-90deg);
  background-color: $dark-color;
}

.social__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.social__link:hover,
.social__link:focus {
  color: $accent-color;
}

.hero .social__item {
  margin-bottom: 40px;
  margin-right: 36px;
  transform: rotate(-90deg);
}

/* .hero .social__item {    
    transform: rotate(-90deg) translateY(30px);
    transform-origin: left;
} */

.hero__description {
  flex-grow: 1;
  padding-top: 180px;
  padding-left: 100px;
  /* width: 1070px;
    height: 600px;
    background-color: $hero-background-color;
    background-image: linear-gradient($hero-background-color, $hero-background-color), url(../images/slider.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1070px 680px;
    background-size: cover; */
}

.hero__subtitle {
  z-index: 1;
  padding-left: 80px;
  position: relative;
  color: $transparent-color;
  margin-bottom: 20px;
}

.hero__subtitle::before {
  z-index: 1;
  background-color: $transparent-color;
}

.hero__title {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
  color: $white-color;
}

.hero__text {
  max-width: 360px;
  position: relative;
  z-index: 1;
  color: $light-color;
}

/* .hero__item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;

  color: var(--white-color);
} */
