.services {
  width: 1600px;
  height: 692px;
  margin: 0 auto;
  background-image: url('../images/prices.jpg');
  background-color: $services-background-color;

  .services__subtitle {
    margin-bottom: 20px;
    color: $transparent-color;
  }

  &__subtitle::before {
    background-color: $transparent-color;
  }

  &__title {
    margin-bottom: 44px;
    color: $white-color;
  }

  &__service,
  &__price {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $light-color;
  }

  &__prices {
    margin-bottom: 44px;
  }

  &__prices,
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    width: 570px;
    padding: 30px 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__prices :first-child {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  &__prices :last-child {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }

  &__button {
    display: block;
    margin: 0 auto;
    color: $white-color;
    background-color: $services-background-color;
  }
}
